<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title><%= configatron.app.title %></title>
  </head>
  <body>
    <h1><%= configatron.app.title %></h1>
    <form action="/" method="post">
      <p>
        <label>Minified URL</label><br />
        <input type="text" name="tinyurl" />
      </p>
  
      <p>
        <input type="submit" name="Take me there!" />
      </p>
    </form>
  </body>
</html>